## Project Specific ##
logs/*
logs
launch_scripts/results/*
tensorboard/*

# Don't upload checkpoint to GitHub
*.ckpt

*.pkl
*.h5
*.csv
*.log
*.out

## Defaults ##
*.swp
*.map
.idea/
config.rst
venv
.venv

MANIFEST
build
dist
_build
docs/man/*.gz
docs/source/api/generated
docs/source/config.rst
docs/gh-pages
notebook/static/components
notebook/static/style/*.min.css*
notebook/static/*/js/built/
notebook/static/*/built/
notebook/static/built/
notebook/static/*/js/main.min.js*
notebook/static/lab/*bundle.js
node_modules
*.py[co]
__pycache__
*.egg-info
*~
*.bak
.ipynb_checkpoints
.tox
.DS_Store
\#*#
.#*
.coverage

launch_scripts/remote_homology/*/
launch_scripts/stability/*/
launch_scripts/fluorescence/*/
launch_scripts/secondary_structure/*/
launch_scripts/contact_prediction/*/
launch_scripts/finetune_logs/
